<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zelda_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{22,1},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{135,1},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{156,1},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{177,1},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{198,1},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{219,1},{18,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_abajo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{115,1},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{94,1},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{239,1},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{258,1},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{277,1},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{69,1},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zelda_arriba6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{42,1},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>link.png</string>
            <key>size</key>
            <string>{295,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ccc054c45ad67ebddfb774f13b81722:27c9fd8d1e732b859ee261ecab7bf3fa:dee7a917176fb1fba526d3542f29aa2f$</string>
            <key>textureFileName</key>
            <string>link.png</string>
        </dict>
    </dict>
</plist>
