<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Octorok_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{37,1},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{57,1},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{77,1},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{97,1},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_bala0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_bala1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{13,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_bala2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{25,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{1,13},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{21,18},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{41,18},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{61,18},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{81,18},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{101,18},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{1,30},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{21,35},{19,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_izquierda0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{42,35},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_disparo_izquierda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{62,35},{19,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_izquierda0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{83,35},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Octorok_izquierda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{18,15}</string>
                <key>textureRect</key>
                <string>{{103,35},{18,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Octorok.png</string>
            <key>size</key>
            <string>{122,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2360524f8bfc7c94349967ab32ad974:2ea806089bd2bcf4bbb3ae1c5b980f99:5f7ab0536a64227aadf3b368aa3cf85a$</string>
            <key>textureFileName</key>
            <string>Octorok.png</string>
        </dict>
    </dict>
</plist>
