<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jarron_destruir0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{17,110},{16,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jarron_destruir1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{1,48},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jarron_destruir2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{1,23},{23,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jarron_destruir3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{1,91},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jarron_destruir4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jarron_destruir5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{1,72},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jarron_destruir6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{23,72},{14,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jarron_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,110},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Jarron.png</string>
            <key>size</key>
            <string>{32,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b046e242a6d59b8bd1797e4f92fcc5:5c03550c13b3a382309d20ac3d62e698:896d39687cc7949c5ed0c51bd4dbb4fc$</string>
            <key>textureFileName</key>
            <string>Jarron.png</string>
        </dict>
    </dict>
</plist>
