<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bat_mover0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_mover1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_mover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{45,1},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_mover3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_parado0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{63,1},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Bat.png</string>
            <key>size</key>
            <string>{74,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:882fe99e1fa7f659ae626d07154189f8:2a3ab7dfa9fe9f9c0b93f25d54a697c2:3635a72d107589e16c18bdcfc336e69b$</string>
            <key>textureFileName</key>
            <string>Bat.png</string>
        </dict>
    </dict>
</plist>
