<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Keaton_atacar_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{362,28},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{310,28},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_abajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{310,28},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{336,28},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{414,28},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{388,28},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{317,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{93,28},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_atacar_derecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{317,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{382,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_abajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{382,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_abajo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{66,1},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{350,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{33,1},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{350,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_arriba3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{178,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{156,28},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{290,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_derecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{156,28},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_mover_derecha3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{263,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{382,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{125,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{184,28},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{125,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{382,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{1,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{279,28},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{1,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_abajo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{382,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{350,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{350,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{63,28},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{249,28},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{63,28},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{350,1},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{32,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{215,28},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_arriba7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{32,28},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{156,28},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{210,1},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{235,1},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{152,1},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{156,28},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{127,1},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{100,1},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{127,1},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keaton_parado_derecha8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{156,28},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Keaton.png</string>
            <key>size</key>
            <string>{439,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9794d8d40fef5a459f947df2db356b7c:69721665469c9cc58da3f73fbb38d0bb:591854cf363b4fcbf393c7487a808302$</string>
            <key>textureFileName</key>
            <string>Keaton.png</string>
        </dict>
    </dict>
</plist>
