<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leever_morado0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leever_morado1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{1,20},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leever_verde1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{17,20},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leveer_verde0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{1,39},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Leveer.png</string>
            <key>size</key>
            <string>{32,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a641fc0dc2ca008446ff44d222147d:46a56c240b58a2afefcd3846bd2baa41:4a273f2bbde62fc44568ff9cb1b51ea3$</string>
            <key>textureFileName</key>
            <string>Leveer.png</string>
        </dict>
    </dict>
</plist>
