<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aguaA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{37,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{55,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{73,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{91,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCruz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{109,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCruz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{127,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCruz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{145,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCuadrado_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{163,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCuadrado_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{181,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaCuadrado_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{199,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaHorizontal_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{217,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaHorizontal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{235,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaHorizontal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{253,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaVertical_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{271,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaVertical_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{289,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aguaVertical_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{307,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{325,1},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antorchaA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{343,1},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antorchaA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{395,1},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaA_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{361,17},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{377,17},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{393,17},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{361,1},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antorchaB_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{378,1},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antorchaC_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{409,17},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaC_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{411,1},{14,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>antorchaC_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{325,18},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>antorchaC_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{341,18},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ObjetosAnimados.png</string>
            <key>size</key>
            <string>{425,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a98903bd9fe2bfa61b2c93f598403e:bdd7c07568f6aa516c1aefe43ffbd1c2:2813cf9bf47ccc60fe165aa3267429b7$</string>
            <key>textureFileName</key>
            <string>ObjetosAnimados.png</string>
        </dict>
    </dict>
</plist>
