<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Soldado_verde_mover_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{185,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{203,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{128,1},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{221,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{88,1},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{108,1},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_izq0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_mover_izq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{239,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{257,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{275,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{293,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{147,1},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{166,1},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_izq0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{67,1},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_verde_parado_izq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{45,1},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Soldado_Verde.png</string>
            <key>size</key>
            <string>{310,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123e15c79418d1c628e4bda2c313ffff:aee701f285c62c5aad81d63f91700d6e:3f86d3e1fedc99c8f4135fc437de8ebb$</string>
            <key>textureFileName</key>
            <string>Soldado_Verde.png</string>
        </dict>
    </dict>
</plist>
