<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Soldado_rojo_mover_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{1,155},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{25,155},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{26,87},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{25,1},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{29,29},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_mover_derecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{25,58},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_abajo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{24,120},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_arriba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{1,120},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{1,58},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{1,87},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_derecha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,29},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soldado_rojo_parado_derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{29,29},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Soldado_Rojo.png</string>
            <key>size</key>
            <string>{59,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2915e78302a321a9bdb4343a7252de0:a985af2878c9a659bc7c08093efa2e8f:b0748bcf3dd493dd51e1c34c1d205af0$</string>
            <key>textureFileName</key>
            <string>Soldado_Rojo.png</string>
        </dict>
    </dict>
</plist>
